/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* акцент #2196F3 */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --secondary-title-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
}

.list {
  list-style: none;
}

body a {
  text-decoration: none;
}

/* logo */

.logo {
  color: var(--accent-color);

  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
}

nav .logotext {
  color: black;

  font-family: 'Oleo+Script', sans-serif;
  font-size: 26px;
  line-height: 1.38;
}

header {
  background-color: var(--primary-bg-color);
}

/* Site nav */

.site-nav .link {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.contacts {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.contacts:hover,
.contacts:focus {
  color: var(--accent-color);
}

/* Hero */

.hero {
  background-color: #2f303a;
}

.hero-title {
  color: var(--secondary-title-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
}

/* button */

.button {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
}

.button.primary {
  color: var(--secondary-title-color);
  background-color: var(--accent-color);
}

.hero.button:hover {
  background-color: #188ce8;
}

/* sections */

.section-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* specificity */

.specificity-list .title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/* team */

.team-list .title {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.profession {
  font-size: 16px;
  line-height: 1.19;
}

footer {
  background-color: #2f303a;
}

footer .logotext {
  color: #ffffff;

  font-family: 'Oleo+Script', sans-serif;
  font-size: 26px;
  line-height: 1.38;
}

.location {
  color: #ffffff;

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}

address a {
  color: rgba(255, 255, 255, 0.6);

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

/* portfolio */

.filters {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}

.filters button {
  color: var(--title-text-color);
  background-color: var(--secondary-bg-color);
}

.filters button:hover,
.filters button:focus {
  color: var(--secondary-title-color);
  background-color: var(--accent-color);
}

.projects .title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.projects p {
  font-size: 16px;
  line-height: 1.87;
}
