/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* акцент #2196F3 */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --secondary-title-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
}

.container {
  margin-left: auto;
  margin-top: auto;
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

body a {
  text-decoration: none;
}

/* logo */

.logo {
  color: var(--accent-color);

  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
}

nav .logotext {
  color: black;

  font-family: 'Oleo+Script', sans-serif;
  font-size: 26px;
  line-height: 1.38;
}

header {
  padding-top: 24px;
  padding-bottom: 25px;

  background-color: var(--primary-bg-color);
}

/* Site nav */

.site-nav .link {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.contacts {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.contacts:hover,
.contacts:focus {
  color: var(--accent-color);
}

/* Hero */

.hero {
  background-color: #2f303a;

  text-align: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--secondary-title-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
}

/* button */

.button {
  display: inline-block;
  border: transparent;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;

  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
}

.hero .button.primary {
  color: var(--secondary-title-color);
  background-color: var(--accent-color);
}

.hero.button:hover {
  background-color: #188ce8;
}

/* sections */

.section-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

/* specificity */

.specificity-list {
  padding-top: 94px;
  padding-bottom: 94px;
}

.specificity-list .title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}

.specificity-list p {
  margin-top: 0;
  margin-bottom: 0;
}

/*about us*/

.section.about {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section.about h2 {
  margin-top: 0;
  margin-bottom: 50px;
}

/* team */

.section.team {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--secondary-bg-color);
}

.section-title {
  margin-bottom: 50px;
}

.team-list img {
  margin-bottom: 30px;
}

.team-list .title {
  margin-top: 0px;
  margin-bottom: 10px;
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-list p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.profession {
  font-size: 16px;
  line-height: 1.19;
}

footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: #2f303a;
}

footer .logotext {
  color: #ffffff;

  font-family: 'Oleo+Script', sans-serif;
  font-size: 26px;
  line-height: 1.38;
}

.location {
  color: #ffffff;

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}

address a {
  color: rgba(255, 255, 255, 0.6);

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

/* portfolio */

.filters {
  padding-top: 94px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}

.filters button {
  display: inline-block;
  border: transparent;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;
  height: 38px;
  margin-bottom: 50px;

  color: var(--title-text-color);
  background-color: var(--secondary-bg-color);

  text-align: center;
}

.filters button:hover,
.filters button:focus {
  color: var(--secondary-title-color);
  background-color: var(--accent-color);
}

.projects img {
  margin-bottom: 20px;
}

.projects .title {
  margin-top: 0px;
  margin-bottom: 4px;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.projects p {
  margin-top: 0px;
  margin-bottom: 20px;

  font-size: 16px;
  line-height: 1.87;
}

.projects .item {
  margin-bottom: 30px;
}
